.app {
    text-align: center;
}



body {
    background-image: url("../aircraft.jpg");
    background-size: cover;
}

h1, h5 {
    color: white;
}

.video {
    width: 20%;
    margin-left: 1%;
    height: 20%;
}

#homenav {
    top: 40vh;
    position: relative;
    height: 33vh;
    width: 100%;
    display: flex;
}

#homenav #home {
    display: none;
}

#homenav #video {
    display: inline-block;
    left: 0px;
    top: 0px;
    position: relative;
    background-color: red;
    height: 100%;
    width: 33.333%;
}

#homenav #galery {
    display: inline-block;
    background-image: url("../bild.jpg");
    background-size: cover;
    height: 100%;
    width: 33.333%;
}

#homenav #report {
    display: inline-block;
    position: relative;
    background-image: url("../kone.jpg");
    background-size: cover;
    right: 0px;
    top: 0px;
    background-color: rgb(34, 187, 14);
    height: 100%;
    width: 33.333%;
}
#homenav p{
    color: #ff00bc;
    font-weight: bold;
    text-align: center;
    padding: 6% 0;
    font-size: 450%;
}
#homenav button{
    color: lime;
    background-color: black;
}



#videobtn {
    margin-top: 25%;
}

#galerybtn {
    margin-top: 25%;
}

#reportbtn {
    margin-top: 25%;
}
